.cloud-div {
  position: relative;
  border: 1px solid red;
  width: 343.91px;
  height: 155px;
}

.cloud-part {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 82.5px;
  height: 58.125px;
}

.ccenter {
  top: 36px;
  left: 25px;
  width: 250px;
  height: 87.1875px;
}

.c1 {
  top: 4.84px;
  left: 73.23px;
}

.c2 {
  top: 23.53px;
  left: 12.98px;
}

.c3 {
  top: 52.59px;
  left: 0px;
}

.c4 {
  top: 78.88px;
  left: 25.96px;
}

.c5 {
  top: 91.34px;
  left: 73.23px;
}

.c6 {
  top: 96.88px;
  left: 119.58px;
}

.c7 {
  top: 96.88px;
  left: 172.42px;
}

.c8 {
  top: 87.19px;
  left: 225.25px;
}

.c9 {
  top: 62.97px;
  left: 261.41px;
}

.c10 {
  top: 29.06px;
  left: 252.14px;
}

.c11 {
  top: 11.76px;
  left: 202.08px;
}

.c12 {
  top: 0px;
  left: 138.12px;
}
