@import "cyberpunk.css";


.aboutusdivider {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-left: 3px solid #0ff; /* Neon-like accent */
    position: relative;
}

.aboutus_text {
    color: #0ff;
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff; /* Glowing text effect */
}


.MuiAvatar-root {
    border: 2px solid #0ff;
    box-shadow: 0 0 15px #00ffff, 0 0 30px #00ffff; /* Glow effect */
}

.MuiGrid-container {
    justify-content: center;
}


.MuiPaper-elevation1, .MuiPaper-elevationZ {
    box-shadow: none;
}

.MuiButton-root:hover, .MuiAvatar-root:hover {
    opacity: 0.8;
}

.teamContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.teamTitle {
    text-align: center;
}

.roleSection {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.membersContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.memberCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.memberAvatar {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.memberName {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
}