@import '../fonts.css';

/* Home Page */

.homepage {
  height: 100%;
}

.container {
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin-top:-50px;
}
@media (min-width: 1200px) and (max-height: 480px) {
  .container {
    margin-top: 400px;
  }
}
@media (min-width: 1024px) and (max-height: 480px) {
  .container {
    margin-top: 200px;
  }
}
@media (min-width: 768px) and (max-height: 480px) {
  .container {
    margin-top: 100px;
  }
}

/* Title */

.title {
  margin-top: -35vh; 
}

.corner-image {
  position: absolute;
  top: 50px; /* Adjust to place the image where needed */
  left: 50px; /* Adjust to place the image where needed */
  width: 220px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: -1; /* Ensure it is layered correctly */
}


.title-image {
  display: block; 
  margin-left: auto;  
  margin-right: auto; 
  width: 70%; 
  height: auto; 
}

@media (max-width: 1600px) and (min-width: 1200px) {
  .title-image {
    width: calc(100% - 20vw); 
  }
  .corner-image {
    width: 200px;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .title-image {
    width: calc(100% - 10vw); 
  }
  .corner-image {
    width: 170px;
  }
}
@media (max-width: 768px) and (max-height: 480px) {
  .title-image {
    margin-top: 60vh;  
  }
  .corner-image {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .title-image {
    width: 100%; 
  }
  .corner-image {
    width: 150px;
  }
}
@media (max-height: 480px) {
  .title {
    margin-top: -50vh;  
  }
}


/* Date, Countdown, Clouds */

.countdown-container {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 10px;
  opacity: 1;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, 370%);
  width: auto;
  white-space: nowrap; 
}

.hourglass {
  width: 36px;
  height: 36px;
  padding: 3px 7.5px;
  opacity: 1;
}

.home-clouds {
  position: absolute;
  top: 150px;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center center;
  z-index: -1;
}
@media (max-width: 3000px) and (max-height: 600px) {
  .home-clouds {
    height: 20%;
    top: 0px;
  }
  .container {
    margin-bottom: 500px;
  }
}
@media (max-width: 1600px) {
  .hourglass {
    width: 28px;
    height: 28px;
    padding: 2px 6px;
  }
  
  .days-left.MuiTypography-root {
    font-size: 30px;
    line-height: 28px;
  }
}
@media (max-width: 1200px) {
  .hourglass {
    width: 22px;
    height: 22px;
    padding: 1.5px 4px;
  }
  
  .days-left.MuiTypography-root {
    font-size: 25px;
    line-height: 25px;
  }
  .container {
    margin-bottom: 300px;
  }
}
@media (max-width: 900px) {
  .countdown-container {
    top: 60vh;
    transform: translate(-50%, 0%);
  }
}
@media (max-width: 768px) {
  .hourglass {
    width: 20px;
    height: 20px;
    padding: 1.5px 4px;
  }
  
  .days-left.MuiTypography-root {
    font-size: 23px;
    line-height: 23px;
  }

  .countdown-container {
    top: 55vh;
    transform: translate(-50%, 0%);
  }
  .home-clouds {
    top: 0px;
  }
  .container {
    margin-bottom: -100px;
  }
}
@media (max-width: 600px) {
  .countdown-container {
    top: 50vh;
    transform: translate(-50%, 0%);
  }
  .container {
    margin-bottom: -100px;
  }
}
@media (max-width: 480px) {
  .hourglass {
    width: 15px;
    height: 15px;
    padding: 1px 3px;
  }
  
  .days-left.MuiTypography-root {
    font-size: 18px;
    line-height: 18px;
  }
  .home-clouds {
    top: 0px;
  }
  .container {
    margin-bottom: -200px;
  }
}
@media (max-width: 350px) {
  .hourglass {
    width: 9px;
    height: 9px;
    padding: 1px 0px;
  }
  
  .days-left.MuiTypography-root {
    font-size: 12px;
    line-height: 12px;
  }
}
@media (max-width: 250px) {
  .home-clouds {
    top: -50px;
  }
}
@media (max-height: 480px) and (max-width: 1600px) {
  .countdown-container {
    top: 130vh;
    transform: translate(-50%, 0%);
  }
  .home-clouds {
    height: 20%;
    top: 0px;
  }
  .container {
    margin-bottom: 500px;
  }
}
@media (max-height: 480px) and (max-width: 1200px) {
  .countdown-container {
    top: 130vh;
    transform: translate(-50%, 0%);
  }
  .home-clouds {
    height: 20%;
    top: 0px;
  }
  .container {
    margin-bottom: 500px;
  }
}
@media (max-height: 480px) and (max-width: 768px) {
  .countdown-container {
    top: 100vh;
    transform: translate(-50%, 0%);
  }
  .home-clouds {
    height: 20%;
    top: 0px;
  }
  .container {
    margin-bottom: 500px;
  }
  
}
@media (max-height: 480px) and (max-width: 488px) {
  .countdown-container {
    top: 100vh;
    transform: translate(-50%, 0%);
  }
  .home-clouds {
    height: 20%;
    top: 0px;
  }
  .container {
    margin-bottom: 500px;
  }
}

/* What is Sail, Schedule */

.about-sail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin-top: 280px;
}

.schedule {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 110px;
}

@keyframes starwidehome-animation {
  0% {
    transform: translateY(39px) scale(1); 
  }
  50% {
    transform: translateY(40px) scale(1.5); 
  }
  100% {
    transform: translateY(39px) scale(1); 
  }
}

@keyframes starwidehomenarrow-animation {
  0% {
    transform: translateY(19px) scale(1); 
  }
  50% {
    transform: translateY(20px) scale(1.5); 
  }
  100% {
    transform: translateY(19px) scale(1); 
  }
}


@keyframes starsmallhome-animation {
  0% {
    transform: translateY(-9px) scale(1); 
  }
  50% {
    transform: translateY(-10px) scale(1.5); 
  }
  100% {
    transform: translateY(-9px) scale(1); 
  }
}


.starwide-title {
  width: 55px;
  height: 55px;
  animation: starwidehome-animation 3s infinite ease-in-out;
}

.starsmall-title {
  width: 50px;
  height: 50px;
  animation: starsmallhome-animation 3s infinite ease-in-out;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home-title {
  width: 90%;
  max-width: 1084px;
  height: 29px;
  font-family: 'Anta', sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.68px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  opacity: 1;
  color: white;
}

@media (max-width: 1024px) {
  .about-desc.MuiTypography-root {
    font-size: 24px;
  }
  .home-title.MuiTypography-root {
    font-size: 48px;
  }
  .starwide-title {
    width: 40px;
    height: 40px;
  }
  .starsmall-title {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 768px) {
  .about-desc.MuiTypography-root {
    font-size: 20px;
  }
  .home-title.MuiTypography-root {
    font-size: 44px;
  }
  .starwide-title {
    width: 35px;
    height: 35px;
  }
  .starsmall-title {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 400px) {
  .about-desc.MuiTypography-root {
    font-size: 16px;
  }
  .home-title.MuiTypography-root {
    font-size: 40px;
  }
  .starwide-title {
    width: 30px;
    height: 30px;
  }
  .starsmall-title {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 350px) {
  .about-desc.MuiTypography-root {
    font-size: 12px;
  }
  .home-title.MuiTypography-root {
    font-size: 30px;
  }
  .starwide-title {
    width: 20px;
    height: 20px;
    animation: starwidehomenarrow-animation 3s infinite;
  }
  .starsmall-title {
    width: 15px;
    height: 15px;
    transform: translateY(-10px);
  }
}
@media (max-width: 250px) {
  .home-title.MuiTypography-root {
    font-size: 25px;
  }
}

/* Schedule Table */

.schedule-day {
  width: 90%;
  max-width: 1084px;
  height: 29px;
  font-family: 'Anta';
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.68px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  opacity: 1;
  color: white;
}

.schedule-day.MuiTypography-root {
  margin-bottom: 80px;
}

.schedule-table {
  margin-top: 30px;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  border-collapse: collapse;
  text-align: left; 
}

.schedule-table th {
  font-family: "Anta", sans-serif;
  font-size: 2.5em;
  color: white;
  padding: 8px 0;
  border-bottom: 2px solid white; 
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

.schedule-table td {
  font-family: "DM-Sans", sans-serif;
  padding: 20px 0px 20px 0px; /* Spacing within rows */
  font-size: 2.3em;
  color: white;
}

.schedule-table tr:not(:last-child) td {
  border-bottom: 1px solid white; /* Horizontal line between rows */
}

.schedule-table tr:first-child th {
  border-top: none; /* Remove top row */
}

.schedule-table tr:last-child td {
  border-bottom: none; /* Remove bottom row */
}

.note {
  margin-top: 2px;
  font-size: 0.6em;
  color: white; /* Light color for notes */
  font-family: "DM-Sans", sans-serif;
  margin-top: 4px; /* Brings the note closer to its activity */
  display: block;
  margin-bottom: 10px;
}


@media (max-width: 1024px) {
  .schedule-day.MuiTypography-root {
    font-size: 40px;
    margin-bottom: 60px;
  }
  .schedule-table th {
    font-size: 2em;
  }
  .schedule-table td {
    font-size: 1.8em;
  }
}
@media (max-width: 768px) {
  .schedule-day.MuiTypography-root {
    font-size: 35px;
    margin-bottom: 40px;
  }
  .schedule-table th {
    font-size: 1.5em;
  }
  .schedule-table td {
    font-size: 1.3em;
  }
}
@media (max-width: 480px) {
  .schedule-day.MuiTypography-root {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .schedule-table th {
    font-size: 1em;
  }
  .schedule-table td {
    font-size: 0.8em;
  }
}
@media (max-width: 300px) {
  .schedule-day.MuiTypography-root {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .schedule-table th {
    font-size: 0.8em;
  }
}