.classCard {
  background-image: url("../assets/CardBackground.png");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 20px;
  /* text-align: center; */
  
  
  color: white;
  width: 340px;
  height: 420px;
}

.classCardHeaderDiv {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.className {
  margin-top: 0;
}

.registerButton {
  margin-top: 20px;
}

h2 {
  margin: 0;
  padding-bottom: 15px;
  font-family: "JetBrainsMono";
  font-weight: 100;
}

.registerButton {
  background-repeat: no-repeat;
  width: 340px;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.buttonImage {
  width: 300px;
  height: 130px;
}

.buttonOverlay {
  position: relative;
  font-size: large;
  font-family: "JetBrainsMono";
  font-weight: 100;
}

.buttonOverlay img {
  display: block;
  width: 100%; /* Make the image fill the container */
}

/* shade in the image when hovering over it */
.buttonOverlay img:hover {
  opacity: 0.5;
}

.buttonOverlay p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white; /* Change text color as needed */
  font-size: 18px; /* Adjust font size as needed */
  font-weight: bold;
}