/* HomePageTitle.css */
@import "cyberpunk.css";

.title_text {
  /* Your existing styles for the title_text class */
  color: yellow;
  text-shadow: 0 0 3px cyan, 0 0 6px cyan, 0 0 9px cyan;
  background: -webkit-linear-gradient(45deg, yellow, cyan);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.zoom-out-animation {
  animation: zoom-out 1s;
  transform-origin: center;
}

@keyframes zoom-out {
  0% {
    transform: scale(0.5); /* Start small at 50% size */
    opacity: 0;  /* Start hidden */
  }
  100% {
    transform: scale(1); /* Zoom back out to original size */
  }
}
  