/* zoom into backdrop as you scroll */

.container {
  padding-top: -10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  height: 100vh;
}

.home_image {
  width: 50vw;
}

.home_text {
  font-family: "Magz";
  color: white;
  font-size: 3vw;
}