{% load i18n %}

{% block subject %}
{% blocktrans %}Activate your Sail Account!{% endblocktrans %}
{% endblock subject %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you need to finish activation process on {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Please click on the link below to activate your Sail account:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>

<p>{% trans "Sincerely," %}</p>
<p>{% blocktrans %}The Sail Staff{% endblocktrans %}</p>

{% endblock html_body %}