{% load i18n %}

{% block subject %}
{% blocktrans %} Welcome to CS Illinois Sail! {% endblocktrans %}
{% endblock %}

{% block html_body %}
<div>
    <p>Hey Sailors!</p>
    <p>Sail is almost upon us and we are so excited for you to experience a day of CS@Illinois! Here is a quick to do list so that you’re ready for Sail.</p>
    <ol>
        <li>Sign our consent form. To ensure everyone’s safety, we require that you fill out <a href="https://forms.gle/nCehhPMzKCvEdqfE9">this form</a> before the event.</li>
        <li>Sign up for buses: If you would like to sign up for a bus to take you to campus, please sign up using the following <a href="https://www.signupgenius.com/go/10C0F4FA4AB2EA7FAC16-sail1">form</a>. Seats fill up quickly, so sign up as soon as possible!</li>
        <li>Sign your parents up! If your parents would like to attend Sail, they can register here for the <a href="https://docs.google.com/forms/d/e/1FAIpQLSd9UcCW6uN0QeCqqtQGzuipCsYnkKrg7M7q3Gb33wceqgda6g/viewform">Sail Parent Track.</a> They may also sign up for buses as a chaperone. The link for parent sign ups for buses is <a href="https://www.signupgenius.com/go/10c0f4fa4ab2ea7fac16-sail2#/">here.</a></li>
        <li>Sign up for courses: To sign up for courses, please use the following <a href="https://www.signupgenius.com/go/10C0945A8A929AAFCC61-class">link</a>. Make sure to sign up for one class per time slot (3 total)! Classes will be held from 10:00AM-10:50 AM, 11:00-11:50 AM, and 1:00PM-2:00 PM.</li>
        <li>Finally, take a look at our <a href="https://docs.google.com/document/d/13p3LIbCij_6rSbL3ZF654-WMZCdzFB3tCyczE1cgHlU/edit?usp=sharing">day-of guide</a> to make sure you are ready for the day! Make sure to bring a laptop, pencil, and paper. Everything else, including food, will be provided. We can’t wait to see you there!</li>
    </ol>
    <p>For any questions or concerns, email us at <a href="mailto:sail.cs.illinois@gmail.com">sail.cs.illinois@gmail.com</a>.</p>
    <p>We can’t wait to see you there!!</p>
    <p>Sail Staff, 2023</p>
</div>


{% endblock html_body %}