.home-page {
    position: relative;
    height: 100vh;
}

.image-stack {
    position: absolute;
    left: var(--offset-x, 375px);
    top: var(--offset-y, 287px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.cs-sail-image {
    width: 624px;
    height: 412px;
}

.register-now-image {
    width: 257px;
    height: 75px;
}