.home-page {
    position: relative;
    height: 100vh;
}

.opening-stack {
    margin-top: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7vw;
}

.cs-sail-image {
    width: 40vw;
    max-width: 624px;
    height: auto;
}

.register-now-image {
    width: 17vw;
    max-width: 257px;
    height: auto;
}

.ch-one-block {
    margin-top: 10vw;
    margin-left: 15vw;
}

.ch-heading-text {
    color: #3F3E3E;
    font-family: "Classic Comic";
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cartoon-frame-image {
    margin-top: 3vw;
    width: 71vw;
    max-width: 1027px;
    height: auto;
}

.character-stats-row {
    position: relative;
    width: fit-content;
    margin-top: 5vw;
}

.corn-ch-one-image {
    position: absolute;
    width: 24vw;
    max-width: 355.392px;
    height: auto;
    left: -9.97vw;
    top: -2vw;
    transform: rotate(1.762deg);
    grid-template-rows: repeat(1, minmax(0, 1fr));
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.ellipse-wrapper {
    position: absolute;
    width: 18.5vw;
    max-width: 283px;
    left: 8.2vw;
    bottom: 3.5vw;
}

.ellipse-ch-one-image {
    width: 100%;
    height: auto;
}

.ellipse-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);

    width: 11.3vw;
    max-width: 173px;
    height: auto;

    color: #000;
    text-align: center;
    font-family: "Classic Comic";
    font-size: 1vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.character-stats-image {
    margin-top: 0;
    width: 71vw;
    max-width: 1027px;
    height: auto;
}

.character-stats-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.4vw;
}

.character-stats-header {
    position: absolute;
    top: 1.5vw;
    left: 35.2vw;

    width: 32vw;
    max-width: 496px;
    height: auto;

    align-self: stretch;
    color: #000;
    font-family: "Classic Comic";
    font-size: 1.7vw;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.character-stats-text {
    position: absolute;
    top: 4.9vw;
    left: 35.2vw;

    width: 32vw;
    max-width: 496px;
    height: auto;
    
    align-self: stretch;
    color: #000;
    font-family: "Classic Comic";
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ch-two-block {
    margin-top: 16vw;
    margin-left: 15vw;
}

.schedule-note-wrapper {
    position: relative;
    width: fit-content;
    margin-top: 2.3vw;
}

.schedule-note-row {
    position: absolute;
    display: flex;
    padding: 1vw 1vw 1vw 1vw;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border: 0.26vw solid #000;
    background: #009DFF;
    box-shadow: 0.26vw 0.26vw 0 0 rgba(0, 0, 0, 0.30);
    width: 70vw;
    max-width: 1083px;
    height: auto;
    z-index: 2;
}

.schedule-note-box {
    display: flex;
    align-items: center; /* vertical alignment */
    gap: 0.8vw;
}

.info-icon {
    width: 1.5vw;
    max-width: 24px;
    height: auto;
}

.schedule-note-text {
    color: #FFF;
    font-family: "Classic Comic";
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5vw; /* 150% */
}

.corn-ch-two-image {
    position: absolute;
    transform: rotate(15deg) scaleX(-1);
    width: 24vw;
    max-width: 355.392px;
    height: auto;
    left: 61vw;
    top: -17vw;
    z-index: 1;
}

.ellipse-wrapper-2 {
    position: absolute;
    left: 48vw;
    top: -16vw;
    z-index: 2;
}

.ellipse-ch-two-image {
    transform: scaleX(-1);
    width: 19vw;
    max-width: 294.734px;
    height: auto;
}

.ellipse-text-2 {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-45%, -50%);

    width: 13vw;
    max-width: 200px;
    height: auto;

    color: #000;
    text-align: center;
    font-family: "Classic Comic";
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.schedule-options-row {
    margin-top: 9vw;
    display: flex;
    gap: 1vw;
}

.schedule-option-active {
    width: 15.7vw;
    max-width: 241.164px;
    height: auto;
    padding: 1.26vw 1.83vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.65vw;
    border: 0.26vw solid #000;
    background: #98D2E7;
    box-shadow: 0.26vw 0.26vw 0 0 #000;
}

.schedule-option-disabled {
    width: 15.7vw;
    max-width: 241.164px;
    height: auto;
    padding: 1.26vw 1.83vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.65vw;
    border: 0.26vw solid #000;
    background: #FFF;
    box-shadow: 0.26vw 0.26vw 0 0 #000;
}

.options-text {
    color: #000;
    text-align: center;

    /* Body Text 3 */
    font-family: "Classic Comic";
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}