/* Bus Information */
.notice-text {
    width: 8.6vw;
    height: 3vw;
    color: #79CCFF;
    font-family: "Classic Comic";
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 3.3vw;
}

.profile-title {
    width: 23vw;
    height: 2.4vw;
    color: #000;
    font-family: "Classic Comic";
    font-size: 2vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title-underline {
    width: 22vw;
    height: 0.26vw;
    background: #79CCFF;
}

.profile-text {
    width: 20vw;
    height: 9.8vw;
    color: #000;
    font-family: "Classic Comic";
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}