/*
.ombre-background {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(to bottom, #FF7E5F, #feb47b); 
}
*/

body {
  margin-top: 60px;
  background-image: url("./assets/final-background.png");
  background-repeat: no-repeat;
  height: 150vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Background fixed while scrolling */
  /* transition: background-size 0.5s ease;  Smooth transition */
  position: relative;
}