/*
.ombre-background {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(to bottom, #FF7E5F, #feb47b); 
}
*/

body {
  margin-top: 60px;
  background: rgb(84, 79, 149);
  background: linear-gradient(180deg, rgba(84, 79, 149, 1) 35%, rgba(42, 39, 86, 1) 70%, rgba(14, 13, 41, 1) 100%);
  background-repeat: no-repeat;
  height: 150vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Background fixed while scrolling */
}