@font-face {
  font-family: "Classic Comic";
  src: url("../src/fonts/Classic-Comic/Classic-Comic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DynaPuff";
  src: url("../src/fonts/DynaPuff/DynaPuff-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}