body {
  margin-top: 60px;
  background-image: url("./assets/final_background.png");
  background-repeat: no-repeat;
  /* set height to stretch to bottom of page */
  height: 150vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Ensures the background remains fixed while scrolling */
  transition: background-size 0.5s ease; /* Add a smooth transition effect */
  position: relative;
}


