@font-face {
  font-family: "sergiotrendy";
  src: url("../src/SergioTrendy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cascadiacode";
  src: url("../src/CascadiaCode.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
