@font-face {
  font-family: "sergiotrendy";
  src: url("../src/SergioTrendy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cascadiacode";
  src: url("../src/CascadiaCode.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("../src/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Magz";
  src: url("../src/fonts/Magz.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ArchitypeVanDoesburg";
  src: url("../src/fonts/VanDoesburgArchiType_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hyperwave";
  src: url("../src/fonts/Hyperwave.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
